//============================
// arcgist-items-engine
//============================//============================//============================

/* The addon's css should be included in vendor */
//@import 'bootstrap/mixins/_bidirectional';
/* set the output folder for fonts */
$icon-font-path: '../assets/fonts/';

// Calcite Fast Fonts Imports
@import url('https://fast.fonts.net/cssapi/9431e9a5-7a6d-4b5f-82be-4d935972de5a.css');

// Set variable to change the primary typeface in the font stack
$primary-font-sanserif:  'Avenir Next W01', 'Avenir Next', 'Avenir';
$primary-font-serif: 'Kepler W01';

$primary-headings-weight: 300;

@import 'calcite/colors-default';

@import 'calcite/variables';
@import 'bootstrap/_variables';
//
// // Custom Calcite Components
@import 'calcite/components'; // This loads the custom calcite css

//NOTE: SOMEWHERE IN CALCITE_BOOTSTRAP THE FONT PATH IS SET WITHOUT !default
$icon-font-path: '../assets/fonts/';
/**
* Bootstrap Components
*/
// Core variables and mixins
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
//@import 'bootstrap/print';
@import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/component-animations';
@import 'bootstrap/dropdowns';
@import 'bootstrap/button-groups';
@import 'bootstrap/input-groups';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/breadcrumbs';
@import 'bootstrap/pagination';
@import 'bootstrap/pager';
@import 'bootstrap/labels';
@import 'bootstrap/badges';
@import 'bootstrap/jumbotron';
@import 'bootstrap/thumbnails';
@import 'bootstrap/alerts';
@import 'bootstrap/progress-bars';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/panels';
@import 'bootstrap/responsive-embed';
@import 'bootstrap/wells';
@import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
@import 'bootstrap/popovers';
//@import 'bootstrap/carousel';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

// image
$bg-img: url('../public/assets/images/illustrated-city.jpg');

.hero-unit {
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.25)),url("/assets/images/street-image.png");
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.25)),url("/assets/images/street-image.png");
  background-image: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.25)),url("/assets/images/street-image.png");
  // background-size: cover;
  // background-color: #EEEEEE;
  height: 300px;


  .address-prompt {
    color:#fff;
    background-color: rgba(72,169,166, 0.8);
    padding: 10px;
    margin: 20px 0px;
    display: inline-block;
    clear: both;
  }
  .address-input {
    background-color: rgba(72,169,166, 0.8);
    padding: 10px;
    margin: 20px 0px;
    display: inline-block;
  }
}

.list-group-item {
  border: 0px;
}

.topic-title {
  display: inline-block;
}

.topic-icon, .address-icon {
  fill: white;
  height: 20px;
  // display: inline-block;
}
