{{address-search setAddress=(action 'onAddressChanged') address=address}}

<h3> {{returnedAddress}} </h3>

{{#each layers as |layer|}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{layer.title}}</h3>
  </div>
  <div class="panel-body">
    {{topic-feature layer=layer location=geocodedLocation}}
  </div>
</div>
{{/each}}
