<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--// Collapse Nav <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{{t 'a11y.nav-toggle'}}</span>
      </button>-->
      {{#link-to 'examples' class="navbar-brand"}}my-street{{/link-to}}
    </div>
    <!--TODO Collapsable Nav-->
  </div>
</nav>

{{outlet}}
