<!-- string interpolation based on popupList and data massaging -->
{{feature}}
{{layer.title}}
<li class="list-group-item">
  <h4 class="list-group-item-heading">
    {{feature.title}}
  </h4>
  <p class="list-group-item-text">
    {{feature.description}}
  </p>
</li>
