<li class="list-group-item">
  <h4 class="list-group-item-heading">
    {{features.info.featureTitleInterpolated}}
  </h4>
  <p class="list-group-item-text">
    {{{features.info.featureDescriptionInterpolated}}}
  </p>
</li>
