{{loading-indicator noMessage=true isActive=loading}}

{{#if hasData}}
  {{#each featureInfos as |featureInfo|}}
    {{topic-feature model=featureInfo}}
  {{/each}}
  {{data-citation url=layer.url}}
  {{else}}
  <p>No data found for this address.</p>
{{/if}}
