<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Permissions Error</h3>
      </div>
      <div class="panel-body">
        <p>The data you are attempting to access is not currently public.</p>
      </div>
    </div>
  </div>
</div>
