<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Error Loading Site</h3>
      </div>
      <div class="panel-body">
        <h2>Error</h2>
        <p>Error loading site. Status: {{model.status}}</p>
      </div>
    </div>
  </div>
</div>
