<div class="container">
  <h2>{{t 'index.prompt'}}</h2>
  <div class="col-md-4"><!-- "col-md-offset-4" -->
    <input type="text" oninput={{action 'setAddress' value="target.value"}} class="form-control">
  </div>
</div>

{{address}}

{{yield}}
